@model WebCheckIfPalindrome.Models.PalindromeVm
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group mb-2">
                    @if(Model !=null){
                        @if(Model.isPalindrome){
                            <div class="alert alert-success" role="alert">
                                <span class="fw-bold">@Model.word</span>  is a Palindrome Number
                            </div>
                        }else{
                            <div class="alert alert-danger" role="alert">
                                <span class="fw-bold">@Model.word</span> is Not a Palindrome Number
                            </div>
                        }
                    }
                    <input asp-for="word" class="form-control" placeholder="Enter Word" />
                </div>
                <button type="submit" class="btn btn-md btn-success">Check If Palindrome</button>
            </form>
        </div>
    </div>
</div>

